# API y Servidor 
fastapi
uvicorn
pydantic

# IA y Orquestación
langchain
langchain-openai
langgraph
langchain-community

pgvector
psycopg2-binary

# Herramientas del Agente
tavily-python
langchain-tavily
